@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }
.wrapper {
  background: linear-gradient(to right, #1976d2, #303f9f);
  height: 100%;
  display: felx;
  justify-content: center;
  align-items: center;

}