<div class="col-md-8 order-md-1">
  
  <form #myForm="ngForm" (ngSubmit)=" clearForm(myForm)" class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input ngModel name="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input ngModel name="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="phoneNumber">Contact number</label>
      <div class="input-group">
        <span class="input-group-addon">+91</span>
      <input ngModel name="phoneNumber" type="text" class="form-control" id="phoneNumber" >
    </div>
    </div>
    <div class="mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input ngModel name = "email" type="email" class="form-control" id="email" placeholder="you@example.com">
      <div class="invalid-feedback">
        Please enter a valid email address for any future communication
      </div>
    </div>

    <div class="mb-3">
      <label for="address">Address</label>
      <input ngModel name= "address" type="text" class="form-control" id="address" placeholder="Hno 945 or #945 or 945" required>
      <div class="invalid-feedback">
        Please enter your valid address.
      </div>
    </div>

    <div class="mb-3">
      <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
      <input ngModel name= "address2" type="text" class="form-control" id="address2" placeholder="Sector 70">
    </div>

    <div class="row">
      <div class="col-md-5 mb-3">
        <label for="state">state</label>
        <select ngModel name="state" class="custom-select d-block w-100" id="state" required>
          <option value="">Choose...</option>
          <option>Panjab</option>
          <option>Others</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid state.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="city">city</label>
        <select ngModel name="city"  class="custom-select d-block w-100" id="city" required>
          <option value="">Choose...</option>
          <option>Chandigarh</option>
          <option>Mohali</option>
          <option>Others</option>
        </select>
        <div class="invalid-feedback">
          Please provide a valid city.
        </div>
      </div>
     
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="save(myForm.value)">Register</button>
  </form>
</div>