
.text-success{
  color: green;
}
.text-pending{
  color: yellow;
}
.text-fail{
  color: red;
}
.text-special{
  font-style: italic;
}

#logo{
  position: relative;
  left: 5%;
}
#menuItems{
  position: relative;
  left: 20%;
  right: 20%;
}
#menuSearch{
  position: relative;
  left: 35%;
}